* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:#0f9944e1;
    font-size:x-large;
}

header {
    background-color:white;
    color:white;
    padding: 10px;
    text-align: center;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color:white;
    color:black;
    text-align: left;
    padding: 10px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    margin-left: 200px;
}
footer a{
    text-decoration: none;
    color: black;
}

#insta{
    width: 70px;
    margin-left: 210px;
}

.logo {
    width: 200px; 
    margin-left: 0px;
}

nav {
    width: 1000px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    padding: 16px;
}

li a {
    color:black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    text-transform: uppercase;
}

#login {
    margin-left: 250px;
}

section{
    background-color:#0f9944e1;
    height: 100vh;
}

#secao1 {
    background-color: rgb(234, 234, 234);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

#imp {
    margin-left: 80px;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: 570px;
    width: 570px;
}