* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:#168f48e1;
    font-size:x-large;
}

header {
    background-color:white;
    color:white;
    padding: 10px;
    text-align: center;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color: #0c8a3cdc;
    color: white;
    text-align: left;
    padding: 10px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}
#insta{
    width: 70px;
    margin-left: 210px;
}
.logo {
    width: 200px; 
    margin-left: 0px;
}

nav {
    width: 1000px;;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    padding: 16px;
}

li a {
    color:black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    text-transform: uppercase;
}

a:hover{
    color:rgb(185, 185, 185);
}

button:hover{
    background-color:#437f5ce1
}
form{
    padding: 20px;
    border-radius: solid 4px white;
    width: 350px;
    margin: auto;
    display: block;
    margin-top: 65px;
    margin-bottom: 140px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

#fundo{
    background-color: #0f9944e1;
    border-radius: 10px;
    padding: 40px;
}
input{
    width: 95%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
}
.formulario{
    margin-top: 18px;
    font-size: 17px;
    color: white;
}
#notifica-email, #notifica-sms{
    width: 15px;
}
button{
    width: 98%;
    background-color: #245e3ce1;
    padding: 7px;
    margin-top: 6px;
    border: none;
    border-radius: 5px;
}
button a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
#voltar a{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
#img-login{
    width: 230px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
#bodylogin{
    background-color: white;
}
#footerlogin{
    background-color: #0c8a3cdc;
    color: white;
    font-size: 20px;
}
#fundo h2{
    margin-top: 10px;
    color: white;
    text-align: center;
}
#acesso{
    color: white;
    font-size: 17px;
    margin-top: 15px;
}