* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: 'Inter', sans-serif;
    color: #333;
}
header {
    background-color:white;
    color:white;
    padding: 10px;
    text-align: center;
}
#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    width: 1000px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header nav ul li {
    padding: 16px;
}
header nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
    transition: color 0.3s;
}
header nav ul li a:hover {
    color:rgb(185, 185, 185);
}
#login {
    margin-left: 250px;
}
#sobre, #noticias {
    padding: 60px 20px;
    background: white;
}
.post-its {
    display: grid;
    grid-template-columns: repeat(2, 740px); 
    grid-template-rows: auto; 
    gap: 20px; 
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
}

.dia {
    color: black;
    width: 630px;
    padding: 20px;
    background-color:white;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 480px;
}
.titulo {
    text-align: center;
    font-size: 55px;
    color: #0f9944;
    margin-bottom: 40px;
}
.bloco p, .dia h3{
    font-size: 25px;
    padding: 5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.conteudo1 {
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.bloco , .dia{
    background: #f9f9f9;
    border-left: 5px solid #0f9944;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bloco h2, .noticia h2 , .dia h2{
    color: #0f9944;
    font-size: 40px;
    
}
.dia p{
    margin-top: 26px;
    font-size: 24px;
    text-align: justify;
}
#noticias img {
    max-width: 100%;
    width: 320px;
    height: 250px;
    border-radius: 5px;
}
#titulo{
    text-decoration: none;
    color: black;
    text-align: justify;
    float: right;
    width: 42%;
    font-size: 27px;
    font-weight: bold;
}
#bottom{
    transition: transform 0.2s ease;
}

#bottom:hover{
    transform: scale(1.1);
}
footer{
    background-color:white;
    color:black;
    text-align: left;
    padding: 10px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

footer p{
    margin-left: 200px;
}

footer a{
    text-decoration: none;
    color: black;
}

#insta{
    width: 70px;
    margin-left: 210px;
}

.logo {
    width: 180px;
}

